# Keycloak / next-auth
AUTH_KEYCLOAK_ID=home
AUTH_KEYCLOAK_SECRET=
AUTH_KEYCLOAK_ISSUER=https://login.xn--pcwchter-2za.de/realms/pcwaechter-prod
AUTH_SECRET=change-me-use-openssl-rand-base64-32

# API
API_INTERNAL_URL=http://localhost:18080
NEXT_PUBLIC_API_URL=https://api.xn--pcwchter-2za.de
